<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div sec:authorize="hasRole('ADMIN')">
		이 내용은 관리자(admin)용이다.</div>

	<div sec:authorize="hasRole('USER')">
		이 내용은 사용자(user)용이다.</div>
		
	<div>
		사용자: <span sec:authentication="name">발견되지 않음</span> 
		<br>
		봄 역할: <span sec:authentication="principal.authorities">
				발견되지 않음</span>
	</div>		
</body>
</html>